.App_form{
    margin-left: 25px;
}

.card_fild {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap:  wrap;
    border-style: solid;
    border-width: 2px 0px;
    border-color: rgb(146, 143, 149);
    margin: 20px;
    padding: 10px;

}

.autoCompleteContainer {
    width: 12em;
    border-bottom: 1px solid slategray;
}
