
.searchform_ticker { 
    margin: 15px 0px 2px;
}

.search_input {
    border-color: rgb(197, 194, 194);
    border-radius: 3px;
    border-width: 1px;
    font-size: 12px;
    height: 22px;
    width: 16em;;

}

.search_input:focus {
    outline: 1px  rgb(157, 155, 155);
  }